@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 420px;
  /* 모바일 가로 크기 제한 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 0.5rem;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 스크롤바 스타일 수정함 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2E2E2E;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 5px;
  border: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}